/*body {
    background-color: green; 
}
*/
/* SELECCION POR TIPO O TAG */
/* p {font-size: 50px;
}
*/

/*  SELECCION POR CLASES */

.table {
    background-color: red;
}

.separator {
    height: 4px;
    width: 100%;
    background-color: blue;
}